@charset "UTF-8";

@function compact-shorthand($values) {
  $len: list.length($values);
  $a: list.nth($values, 1);
  $b: if($len < 2, $a, list.nth($values, 2));
  $c: if($len < 3, $a, list.nth($values, 3));
  $d: if($len < 2, $a, list.nth($values, if($len < 4, 2, 4)));

  @if $a == $b and $a == $c and $a == $d {
    $output: $a;
  } @else if $a == $c and $b == $d {
    $output: $a $b;
  } @else if $b == $d {
    $output: $a $b $c;
  } @else {
    $output: $a $b $c $d;
  }

  @return $output;
}

@function unpack-shorthand($shorthand) {
  $len: list.length($shorthand);

  @for $i from 1 through 4 {
    $value: list.nth($shorthand, if($i > $len, $len, $i));
    $output: list.append($output, $value);
  }

  @return $output;
}
